body {
    background-color: #000000; 
    margin: 0;
    padding: 0;
    overflow:hidden;
    display: flex;
    justify-content: center;  
    align-items: center;    
    height: 100vh;    
  }
  html, body {
    overflow: hidden;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none; /* Makes it invisible to mouse so you can click text behind */
  }



