body {
    background-color: #000000; 
    margin: 0;
    padding: 0;
    overflow:hidden;
    display: flex;
    justify-content: center;  
    align-items: center;    
    height: 100vh;    
  }
  html, body {
    overflow: hidden;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none; /* Makes it invisible to mouse so you can click text behind */
  }


  body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  #sketch-container {
    position: relative;
    width: 800px; /* match your canvas */
    height: 600px; /* match your canvas */
    margin: auto;
  }



  #file-image-container {
    position: absolute;
    top: 200px;
    left: 200px;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  
  #file-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }



  